@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --font-sans: "Geist Sans", Arial, sans-serif;
    --font-mono: "Geist Mono", monospace;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
}

@layer components {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    transition: background-color 0.3s, color 0.3s; 
  }
}